/* CSS declarations go here */

.darkBackground
{
	background-color:black;
	color:white;
}

input.message
{
	color: black;
}

.paddingClass
{
	padding-top:10px;
	padding-bottom:10px;
}

.navbar ul li
{
	text-align:center;
}

.toolbar
{
	width:1000px;
	height:60px;
}

.toolbar button
{
	background-color:black;
	color:white;
}